a:link{
    color: gray;
}

.bold {
    font-weight: 700;
}

.activate {
    background-color: #0038CF; 
    border-radius: 15px;
}

.caption{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
}