/* a:link{
    color: gray;
} */

.bold {
    font-weight: 700;
}

.activate {
    background-color: #0038CF; 
    border-radius: 8px;
}

.caption{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
}

.layar{
    position: relative;
    width: 100%;
    height: 300;
    margin: 0 auto;
}

.layar video{
    width: 100%;
    height: 300;
    display: inline;
}

.layar button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 1;
}

.layar:before{
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.rate {
    height: 46px;
}
.rate:not(:checked) > input {
    position:absolute;
    display: none;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rated:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.star-rating-complete{
       color: #c59b08;
}
.rating-container .form-control:hover, .rating-container .form-control:focus{
    background: #fff;
    border: 1px solid #ced4da;
}
.rating-container textarea:focus, .rating-container input:focus {
    color: #000;
}
.rated {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rated:not(:checked) > input {
    position:absolute;
    display: none;
}
.rated:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ffc700;
}
.rated:not(:checked) > label:before {
    content: '★ ';
}
.rated > input:checked ~ label {
    color: #ffc700;
}
.rated:not(:checked) > label:hover,
.rated:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rated > input:checked + label:hover,
.rated > input:checked + label:hover ~ label,
.rated > input:checked ~ label:hover,
.rated > input:checked ~ label:hover ~ label,
.rated > label:hover ~ input:checked ~ label {
    color: #c59b08;
}